<header class="header">
  <div class="nqv">
    <a href="{{ .Site.BaseURL }}"><img src="/img/homecat.png"></a>
  </div>
  <div class="hamburger">
    <button onclick="navToggle()">
      <svg id="i-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24" />
      </svg>
    </button>
  </div>
  <nav class="nav">
    <ul> {{ with .Site.GetPage "section" "post" }}
      <li>
        <a class="text" href="{{ .Permalink }}">{{ .Title }}</a>
      </li>{{ end}} {{ with .Site.GetPage "page" "about.md" }}
      <li>
        <a class="text" href="{{ .Permalink }}">{{ .Title }}</a>
      </li>{{ end}}
      <li>
        <a class="icon" target="_blank" href="https://www.facebook.com/notquitevacation/">
          <img src="/img/40x40_facebook.png" />
        </a>
      </li>
      <li>
        <a class="icon" target="_blank" href="https://www.instagram.com/notquitevacation/">
          <img src="/img/40x40_ig.png" />
        </a>
      </li>
      <li>
        <a class="icon" target="_blank" href="https://www.youtube.com/channel/UCX6BMwx1R8TBvGl_is84PXw/">
          <img src="/img/40x40_youtube.png" />
        </a>
      </li>
    </ul>
  </nav>
</header>