{{ partial "header.html" . }} {{ partial "sub-header.html" . }}

<div id="logocountup">
  <div id="logo">
    <img src="/img/logo.jpg">
  </div>
  <div id="bubble">
    <p>My human slave left me with his Mom</p>
    <p>for <strong>427</strong> days</p>
    <p>and visited {{ len .Site.Params.placesVisited }} countries on their bikes</p>
    <p> WHAT EVER </p>
  </div>
</div>

<div id="banner">
  <img class="bg" src="/img/homephoto.jpg">
  <p>
    Hi! It's Andrew and Vicki. We are two big kids who are traveling
    the world with our bikes! This blog is to keep Oscar (our cat)
    posted.
  </p>
</div>

<main class="main main-list">
  <h1>Recent Posts</h1>
  {{- range first 12 (where .Data.Pages "Type" "post").ByPublishDate.Reverse -}}
  <article class="postSummary">
    <header>
      <h2 class="postSummaryHeader title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
      <div class="postSummaryHeader author">{{ .PublishDate.Format "Mon, Jan 2, 2006" }} - {{ .Params.author }}</div>
    </header>
    {{ with .Params.featured_image }}
    <img class="postSummaryImg" src="{{ . }}">{{ end }}
    <div class="postSummaryBody">
      {{ .Summary }}
    </div>
    <footer>
      <a href="{{ .Permalink }}">>> Read More</a>
    </footer>
  </article>
  {{- end }}
</main>{{ partial "footer.html" . }}