{{ partial "header.html" . }} {{ partial "sub-header.html" . }}

<div id="logocountup">
  <div id="logo">
    <img src="/img/logo.jpg">
  </div>
  <div id="bubble">
    <p>My human slave has left me with his Mom</p>
    <div id="clockdiv">
      <div>
        <span class="time days"></span>
        <span class="smalltext">days</span>
      </div>
      <div>
        <span class="time hours"></span>
        <span class="smalltext">hours</span>
      </div>
      <div>
        <span class="time minutes"></span>
        <span class="smalltext">mins</span>
      </div>
      <div>
        <span class="time seconds"></span>
        <span class="smalltext">secs</span>
      </div>
    </div>
    <p>ago and has visited {{ len .Site.Params.placesVisited }} countries on their bikes</p>
    <p> WHAT EVER </p>
  </div>
</div>

<div id="banner">
  <img class="bg" src="/img/homephoto.jpg">
  <p>
    Hi! It's Andrew and Vicki. We are two big kids who are traveling
    the world with our bikes! This blog is to keep Oscar (our cat)
    posted.
  </p>
</div>

<main class="main main-list">
  <h1>Recent Posts</h1>
  {{- range sort .Data.Pages "PublishDate" "desc" | first 12 -}} {{- if eq .Type "post" }}
  <article class="postSummary">
    <header>
      <h2 class="postSummaryHeader title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
      <div class="postSummaryHeader author">{{ .PublishDate.Format "Mon, Jan 2, 2006" }} - {{ .Params.author }}</div>
    </header>
    {{ with .Params.featured_image }}
    <img class="postSummaryImg" src="{{ . }}">{{ end }}
    <div class="postSummaryBody">
      {{ .Summary }}
    </div>
    <footer>
      <a href="{{ .Permalink }}">>> Read More</a>
    </footer>
  </article>
  {{- end -}} {{- end }}
</main>{{ partial "footer.html" . }}