body{
	text-align: center;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color:#3E3F46;
  font-weight: 100;
  font-size: 28px;
  font-style: italic;
  margin: 40px 0px 20px;
  font-family: Tw Cen MT;
}

#countdown{
	font-family: sans-serif;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 36px;
}

#countdown > div{
	padding: 5px;
	border-radius: 3px;
	display: inline-block;
}

#countdown div > span{
	padding: 15px;
	border-radius: 3px;
	background: #8A8FD5;
	display: inline-block;
	width: 45px;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}